#####          POSTGRES ENV'S          #####
PG_USER= # Username for Postgres
PG_PASSWORD= # Password for Postgres
PG_HOST= # url for Postgres (docker container or localhost)
PG_PORT= # Port for Postgres
PG_DATABASE= # Database Name for Postgres
PG_SSL_MODE= # disable for local, require for production

#####          REDIS ENV'S             #####

REDIS_HOST= # Host For Redis (docker container or localhost)
REDIS_PORT= # Port For Redis

#####          JWT ENV'S               #####

JWT_SECRET= # Secret for generating JWT

#####          GO BACKEND ENV'S        #####

GO_PORT= # Port for GO Backend
APP_ENV= # development/production flag if now in development mode

#####          LECHESS API ENV'S        #####

LICHESS_GET_GAMES_URL= # Lichess API URL (if nothing changed with lichess API url: https://lichess.org/api/games/user/)